/* PALETA DE COLORES */
.bg-1 { background: #ffcccc; }
.bg-2 { background: #e9b5fa; }
.bg-3 { background: #9AECDB; }
.bg-4 { background: #fcf77a; }
.bg-5 { background: #b4faca; }

.color-1 { color: #ffcccc; }
.color-2 { color: #e9b5fa; }
.color-3 { color: #8ef8e3; }
.color-4 { color: #faf570; }
.color-5 { color: #9cf8b9; }
.color-6 { color: #be2edd; }


body {
  font-family: "Quicksand", sans-serif;
}

nav li a{
  color: black;
  text-shadow: 2px 2px 2px aqua;
  border-bottom: 4px double rgb(248, 11, 248);
}

nav li a:hover{
  color: white;
  border-bottom: 6px double aqua;
  font-size: 25px;
  text-shadow: 2px 2px 2px #faf441;
}

.navbar-brand {
  font-family: "Sansita Swashed", cursive;
  font-size: 40px;
}

.nav-link{
  font-family: "Quicksand", sans-serif !important;
  font-size: 20px;
}


#logo {
  border-radius: 50px;
}
.carousel img {
  height: 80vh;
  opacity: 1;
}

/* main div img{
  height: 40vh;
} */

.carta{
  height: 40vh;
  cursor: pointer;
  opacity: .6;
  transition: all .8s;
}

.carta:hover{
  opacity: 1;
  transition: all .6s;
  transform: scale(1.2); 
}

.img-container{
  overflow: hidden;
}

.card-footer{
  border: none;
  background: none;
}

.btn{
  font-weight: bold;
}

footer {
  background-image: url(https://image.freepik.com/foto-gratis/formas-laterales-mujer-sosteniendo-megafono-flores_23-2148405260.jpg);
  background-size: cover;
  height: 60vh;
}

footer i{
  text-shadow: 3px 2px 3px black;
}

footer h2{
  text-shadow: 3px 2px 3px white;
  color: darkorange;
}

footer li{
  list-style: none;
  padding-left: 60px;
  margin-bottom: 20px;
}

.fondo{
  background-color: transparent !important;
  border: none;
}